# Build outputs.
/bin

# Intermediate files.
.vs
/build
Debug/
Release
obj/
/obj
/.sass-cache
*.pyc

# I leave a temporary Wren script at the top level so that I can quickly test
# stuff.
/scratch.wren

# The baseline file is machine-specific, so doesn't get checked in.
/test/benchmark/baseline.txt

# XCode user-specific stuff.
xcuserdata/

# Allow Visual Studio project files.
!wren/
!wren_lib/

# Visual Studio cache files.
.vs/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio User-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

### macOS ###

# macOS XCode build cache
deps/libuv/build/XCBuildData/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
